albert
bauh
clipit
cmus
Code
compton.conf
configstore
dconf
discord
dmenu-recent
epdfview
falkon
gconf
google-chrome
gtk-2.0
gtk-3.0
hexchat
htop
JetBrains
Jitsi Meet'
Kvantum
libfm
manjaro
manjaro-hello.json
menus
mimeapps.list
mono.addins
morc_menu
Mousepad
nitrogen
Notion
obs-studio
pamac
pavucontrol.ini
pcmanfm
Pinta
pulse
qt5ct
QtProject.conf
ranger
spotify
user-dirs.dirs
user-dirs.locale
viewnior
VirtualBox
vlc
volumeicon
xarchiver
xbuild
xfce4
yay
Caprine
libreoffice
Jitsi Meet
GNS3
GIMP
@joplin
balena-etcher-electron
binwalk
cef_user_data
ClipGrab
deluge
draw.io
Electron
filezilla
Foxit Software
harbour-amazfish
ibus
JOSM
Kitematic
lxsession
mpv
orage
Postman
procps
qtmib
qtws_Netflix
stacer
SweetScape
swi-prolog
systemd
thefuck
tlpui
transmission
Unknown Organization
VisualParadigm
wireshark
xfburn
